body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
body{
    background:#fff;
    color:#000;
    font-size:14px;
    font-family: 'Microsoft yahei',Verdana, Arial, Helvetica, sans-serif;
}
td,th,caption {
    font-size:14px;
}
h1, h2, h3, h4, h5, h6 {
    font-size:100%;
}
address, caption, cite, code, dfn, em, th, var {
    font-style:normal; font-weight:normal;
}
a{
    text-decoration:none;
}
img{
    border:none;
}
ol,ul,li {
    list-style:none;
}
li{
    vertical-align:top;
}
input, textarea, select, button {
    font:14px 'Microsoft yahei',Verdana,Helvetica,Arial,sans-serif; }
table {
    border-collapse:collapse;
}
.clearfix:after {
    content: ".";
    display: block;
    height:0;
    clear:both;
    visibility: hidden;
}
.clearfix { *zoom:1; }